body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.social-media {
    display: flex;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    background-color: #183170;
    color: white;
    padding: 10px;
    text-align: center;
}

.info-item {
    display: inline-block;
    margin: 0 25px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 30px; 
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.book-now {
    height: 50px; 
    width: 120px;
    background-color: #3B71FB; 
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 12px;
}

.book-now:hover {
    background-color: #2c65f4; 
}

.breadcrumb {
    height: 400px;
    background-color: #183170;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.breadcrumb h1 {
    font-size: 48px;
    margin: 0;
}

.breadcrumb p {
    margin: 10px 0 0;
    font-size: 14px;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.breadcrumb .current-page {
    color: yellow; 
    font-weight: bold;
}

.get-in-touch {
    display: flex;
    padding: 100px 120px;
}

.contact-details {
    flex: 1;
    margin-right: 20px; 
}

.contact-details p {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    color: #9499A6;
}

.contact-details h1 {
    font-size: 60px;
    margin: 20px 0px;
    font-weight: normal;
}

.contact-info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.info-section {
    margin-right: 40px; 
    color: #183170;
}

.info-section h2 {
    margin: 0 0 10px;
    color: #020713;
    font-size: 20px;
    font-weight: 400; 
}

.contact-inputs {
    flex: 1;
}

.name-inputs, .contact-data {
    display: flex;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
}

.input-row label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-row input, .input-row textarea {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; 
}

.input-row textarea {
    width: 70%; 
    resize: vertical; 
}

.send-message {
    padding: 10px 15px;
    background-color:  #3B71FB; 
    color: white;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.send-message:hover {
    background-color: #2c65f4; 
}

.container {
    display: flex;
    background-color: #f4f4f4;
    padding: 50px 120px;
    margin: 0px auto;
}

.visit-office {
    width: 60%;
    padding: 20px;
}

.visit-office p {
    padding: 15px 0;
    color: #9499A6;
    width: 80%;
}

.business-hours {
    background-color: #183170;
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin-left: 20px;
    width: 40%;
}

.working-days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
}

.container h2 {
    margin: 0;
    padding: 20px 30px 0 30px;
}

.container p {
    margin: 10px 0;
}

.get-direction-button {
    padding: 10px 15px;
    background-color:  #3B71FB; /* Button color */
    color: white;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.get-direction-button:hover {
    background-color: #2c65f4; 
}

.hr-business {
    border: 1px solid white;
    margin: 10px 0;
}

.faq-questions-sec {
    display: flex;
    padding: 50px 120px;
}

.faq-section {
    display: flex;
    flex-direction: column;
}

.faq-divider {
    margin: 20px 0;
    height: 1px;
    width: 70px;
    background-color: #ccc; 
    border: none; 
}

.faq-list {
    width: 70%;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    color: #9499A6;
    padding-bottom: 15px;
}

.faq-question-1 {
    display: flex;
    justify-content: space-between;
    color: #183170;
    padding-bottom: 15px;
}

.faq-answer {
    color: #9499A6;
    padding-bottom: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footerContainer {
    background-color: rgb(11, 9, 9);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}

.footerLeftSide {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    margin-left: 150px;
    margin-top: 60px;
}

.footerButton {
    background-color: rgb(56, 56, 229);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.footerLeftSide p {
    width: 80%;
    line-height: 20px;
    color: rgb(165, 164, 164);
    font-size: 1.8em;
}

.footerLeftSide h2 {
    letter-spacing: 7px;
}

.footerRightSideContainer {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 50px;
    width: 100%;
}

.footerRightSide {
    display: flex;
    flex-direction: column;
    color: rgb(165, 164, 164);
    gap: 20px;
    font-size: 1.8em;
}

.footerTitle {
    font-size: 1.5em;
    color: white;
    width: 100%;
    margin-bottom: 15px;
}

.footerBottomPart {
    background-color: rgb(11, 9, 9);
    height: 100px;
    padding-top: 25px;
    width: 100%;
    font-size: 10px;
}

hr {
    background-color: rgb(3, 9, 93);
    border: none;
    height: 1px;
    margin-left: 140px;
    width: 85%;
}

.footerText {
    display: flex;
    flex-direction: row;
}

.footerTextp {
    font-size: 1.8em;
    color: white;
    display: flex;
    justify-content: start;
    margin-left: 150px;
    margin-top: 20px;
    width: 100%;
}

.footerTextp2 {
    font-size: 1.8em;
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-top: 20px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .get-in-touch {
        padding: 50px 20px; 
    }
    
}

@media screen and (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .container {
        flex-direction: column;
        padding: 20px;
    }

    .visit-office, .business-hours {
        width: 100%;
        margin-bottom: 20px;
    }

    .get-in-touch {
        flex-direction: column;
        padding: 50px 20px;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footerLeftSide, .footerRightSideContainer {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .navbar {
        padding: 5px 10px;
    }

    .contact-details h1 {
        font-size: 40px;
    }

    .contact-info {
        flex-direction: column;
    }

    .input-row textarea {
        width: 100%;
    }

    .footerLeftSide h2, .footerRightSide .footerTitle {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 500px) {
    .footerContainer {
        flex-direction: column;
        font-size: 8px;
    }

    .footerLeftSide {
        margin-left: 0;
        margin: 0;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .footerButton {
        width: 150px;
        height: 30px;
    }

    hr {
        margin-top: 20px;
        margin-left: 30px;
    }
}
