*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.yacht-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 80vh;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #F6F6F9;

}

.yacht-item-img{
    width: 100%;
    height: 35vh;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.yacht-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.yacht-details h1{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
}
.icon-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 5px;
}

.icon-row img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #183170; 
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.price-section p {
    margin-top: 15px;
    font-size: 18px;
    color: #183170;
}

.price-section button {
     /* text */
    font-family: Unna;
    font-size: 18px;
    font-weight: 400;        
    line-height: 20.74px;
    text-align: center;        
    color: white;
    
    /* button */        
    margin-top: 10px;
    background: #183170;        
    border-radius: 10px; 
    padding: 10px 20px;          
    border: none;       
    cursor: pointer;    
    display: inline-block;        
    width: 180px;
}


@media (max-width: 500px) {
    .yacht-item {
        width: 90vw;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .yacht-item-img {
        height: 30vh;
        border-radius: 10px 10px 0 0;
    }

    .yacht-details {
        padding: 15px;
    }

    .yacht-details h1 {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }

    .icon-row {
        gap: 8px;
        margin-bottom: 8px;
        justify-content: center;
        padding: 5px;
    }

    .icon-row img {
        width: 14px;
        height: 14px;
    }

    .line {
        margin: 5px 0;
    }

    .price-section {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .price-section p {
        font-size: 16px;
        text-align: center;
        color: #183170;
    }

    .price-section button {
        width: 80%;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
    }
}

    
