*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footerContainer{
    background-color: rgb(11, 9, 9);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 10px;
}

.footerLeftSide{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    margin-left: 2.5%;
    margin-top: 60px;
}

.footerButton{
    background-color: rgb(56, 56, 229);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.footerLeftSide p{
    width: 80%;
    line-height: 20px;
    color: white;
    font-size: 1.8em;
}

.footerLeftSide h2{
    letter-spacing: 7px;
}

.footerRightSideContainer{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 50px;
    width: 100%;
}

.footerRightSide{
    display: flex;
    flex-direction: column;
    color: rgb(165, 164, 164);
    gap:20px;
    font-size: 1.8em;
}

.footerTitle{
    font-size: 1.5em;
    color:white;
    width: 100%;
    margin-bottom: 15px;
}

.footerBottomPart{
    background-color: rgb(11, 9, 9);
    height: 100px;
    padding-top: 25px;
    width: 100%;
    font-size: 10px;
}

hr{
    background-color: rgb(3, 9, 93);
    border: none;
    height: 1px;
    margin-left: 7%;
    width: 85%;
}

.footerText{
    display: flex;
    flex-direction: row;
}

.footerTextp{
    font-size: 1.8em;
    color: white;
    display: flex;
    justify-content: start;
    margin-left: 150px;
    margin-top: 20px;
    width: 100%;
}

.footerTextp2{
    font-size: 1.8em;
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-top: 20px;
    width: 100%;
}

@media screen and (max-width:500px){
    .footerContainer{
        flex-direction: column;
        font-size: 8px;
    }

    .footerLeftSide{
        margin-left: 0;
        margin: 0;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .footerLeftSide h2{
        padding-top: 40px;
    }

    .footerRightSideContainer{
        gap: 35px;
        justify-content: center;
        margin-top: 30px;
    }

    .footerTitle{
        font-size: 18px;
    }

    .footerRightSide{
        gap: 5px;
    }

    .footerButton{
        width: 150px;
        height: 30px;
    }

    .footerBottomPart{
        font-size: 7px;
    }

    .footerTextp{
        margin-left: 30px;
    }
    
    hr{
        margin-top: 20px;
        margin-left: 30px;
    }
}



